node_modules/
.env
package-lock.json
GestFarma.db
logs/
*.log
*.sqlite

# IDEs e editores
.vscode/
.idea/
.DS_Store

# Logs e depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências locais
/coverage
/dist
/build

# Arquivos do sistema
Thumbs.db
