/* Estilos específicos do Relatório */
.relatorio-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    flex: 1
}

.relatorio-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.relatorio-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.relatorio-buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.relatorio-buttons button.active {
    background-color: #004080;
}

.tabela-relatorio {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-relatorio th,
.tabela-relatorio td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.tabela-relatorio th {
    background-color: #f8f8f8;
    font-weight: bold;
}